{% extends 'users/user_dashboard.html'%}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-lg-6">
<div class="card mb-4">
    <div class="card-header">
        {% if messages %}
        {% for message in messages %}
        <div class ="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor%}
        {% endif%}
        Register New Staff / Student
    </div>
    <div class="card-body">      
{% if user.profile.user_type == 'parent' or user.is_superuser %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type='submit', value='Submit'>
    {% else %}
    <h4>You are not permitted to view this page</h4>
    {% endif %} 
</form>
</div>
</div>
</div>


<div class="col-lg-6">

    

    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Read before registering New Student/Staff</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            You must use this form to register new student or staff. After registration, you
            The update is done through the superuser dashboard. 
          
        </div>
    </div>



      
</div>


</div>
</div>






{% endblock content %}